
* {
	box-sizing: border-box; 
}

body {
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	background: #eeeeee;
}

.page-wrap {
	width: 840px;
	margin: 0 auto;
	padding: 20px;
	background: #ffffff;
}

.main-story {
	position: relative;
	margin: 0 0 25px 0;
}

img {
	display: block; 
}

a {
	color: orange;
}

nav {
	margin-bottom: 20px;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
	width: 160px;
	border-left: 1px solid white;
}

nav li:first-child {
	border-left: none;
}

nav a {
	display: block;
	padding: 10px;
	text-align: center;
	color: white;
	background: orange;
	text-decoration: none;
}

nav a:hover {
	background: gray;
}

#menu-link{
	display:none;
	position:relative;
	color: #fff;
	text-decoration: none;
	text-align:right;
	padding-top: 0.2em;
	padding-right: 1.25em;

}

#menu-link:before {
	content: "";
	position: absolute;
	top: 0.5em;
	right: 1em;
	width: 1em;
	height: 0.15em;
	border-top: 0.4em double #fff;
	border-bottom: 0.15em solid #fff;
	background: orange;
}

#menu-link-close { 
	display:none;
}

.story-intro {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	padding: 20px;
	color: white;
}

h1 {
	 font-size: 4em;
}

h1, h2 {
	margin: 0 0 10px 0;
}

.story-intro h1 {
	font-size: 2.5em; 
}
.story-intro p {
	margin: 0;
}

.sub-stories {
	overflow: hidden;
	clear:both;
}

.sub-story {
	float: left;
	width: 250px;
	margin-right: 25px;
	position: relative;
	font-size: 80%;
}

.sub-story-intro {
	width: 100%;
	background: rgba(0, 0, 0, 0.75);
	padding: 20px;
	color: white;
}

.last {
	margin-right: 0;
}


@media (max-width: 865px){
	body {
		width:100%;
		margin:25px 0 0 0;
	}

	h1 {
		font-size:3.5em;
	}

	#menu-link{
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:25px;
		float: right;
		width:100%;
		background:orange;
	}

	nav ul {
	display:none;
	position:absolute;
	left:0;
	top:25px;
	z-index: 2;
	width: 100%;
	}

	nav li {
		float:none;
		width:100%;
		border-left: none;
		border-bottom: 1px solid white;
	}

	.page-wrap {
		width:100%;
		padding: 5px;
	}


	.main-story img{
		width: 100%;
	}

	.story-intro{
		position:relative;
	}

	.sub-story{
		width:100%;
		margin-top:25px;
		background: rgba(0, 0, 0, 0.75);
	}

	.sub-story:first-child{
		margin-top:0;
	}

	.media {
		float:left;
		margin-right: 15px;
	}

	.sub-story-intro{
		width: auto;
		background: transparent;
	}

}